<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Title</title>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <link href="../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>
</head>

<body>
<div class="container">
    <div th:if="${not #lists.isEmpty(dances)}">
        <table class="table table-striped table-hover table-bordered table-responsive">
            <tr>
                <th>Id</th>
                <th>Dance Name</th>
            </tr>
            <tr th:each="dance1: ${dances}">
                <td th:text="${dance1.idDances}"></td>
                <td th:text="${dance1.dance}"></td>
            </tr>
        </table>
        <a th:href="${'/home'}">Back</a>
    </div>
</div>
</body>
</html>